snippet dpurple "dark purple"
#592c81
endsnippet

snippet lpurple "light purple"
#863375
endsnippet

snippet dgreen "dark green"
#799A3D
endsnippet

snippet lgreen "light green, link green"
#638E18
endsnippet

snippet dgrey "dark grey"
#A6AEC0
endsnippet

snippet grey "grey"
#CED1DB
endsnippet

snippet lgrey "light grey"
#F3F4F8
endsnippet
