snippet section "A primary section"
==============================================================================
${1:NAME}                                             *${2:tag}*

${3:text}
endsnippet

snippet subsection "A subsection"
------------------------------------------------------------------------------
${1:NAME}                                             *${2:tag}*

${3:text}
endsnippet
