snippet fdoc "create docstring template for a function"
"""${1:text}

Args:
	${2:name} (${3:type}): ${4:Explanation}

Yields:
	${5:type}: ${6:Explanation}
"""
endsnippet

snippet main "Boilerplate for a main() function"
def main():
	${1:pass}

if __name__ == "__main__":
	main()
endsnippet
