[user]
	email = vadskye@gmail.com
	name = Kevin Johnson
[alias]
	alias = "!f() { git config --global \"alias.$1\" \"$2\" && echo \"created alias: $1\"; }; f"
	b = branch
	aliases = config --get-regexp \"^alias\\.\"
	cm = commit -m
	co = checkout
	m = checkout
	unalias = "!f() { git config --global --unset \"alias.$1\" && echo \"removed alias: $1\"; }; f"
	tossh = remote set-url origin
	todo = commit -m \"TODO\"
